@import './globals';

.header {
	position: relative;
	width: 100%;
	height: 95vh;
	background: linear-gradient(
			to right bottom,
			$color-primary-light,
			$color-primary-dark
		),
		url('../img/hero.jpg');
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);

	&__logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}
	&__logo {
		height: 3.5rem;
	}
	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

.heading-primary {
	margin-bottom: 6rem;
	& > * {
		color: $color-white;
		display: block;
		text-transform: uppercase;
		backface-visibility: hidden;
		font-weight: 400;
	}
	&--main {
		font-size: 6rem;
		letter-spacing: 3.5rem;
		animation: moveInLeft 1s ease-out;
	}
	&--sub {
		font-size: 2rem;
		letter-spacing: 1.8rem;
		animation: moveInRight 1s ease-out;
	}
}

.btn {
	&:link,
	&:visited {
		display: inline-block;
		text-decoration: none;
		padding: 1.5rem 4rem;
		font-size: 1.6rem;
		border-radius: 100px;
		text-transform: uppercase;
		transition: all 0.3s;
		position: relative;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgba($color: $color-black, $alpha: 0.2);
		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}
	&:active {
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgba($color: $color-black, $alpha: 0.2);
	}

	&::after {
		content: '';
		width: 100%;
		height: 100%;
		border-radius: 100px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.3s;
	}

	&--white {
		background-color: $color-white;
		color: $color-grey-dark;
		&::after {
			background-color: $color-white;
		}
	}
	&--animated {
		animation: moveFromBottom 0.5s ease-in-out 0.5s;
		animation-fill-mode: backwards;
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	50% {
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	50% {
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveFromBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
